.saved {
  background-color: #f5f6f7;
  padding: 60px 80px;
}

.saved__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  font-family: "Roboto Slab", serif;
}

.saved__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin: 40px auto;
  max-width: 1200px;
  justify-items: center;
}

@media screen and (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}
