.header {
  background: url("../../assets/hompag.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

/* Top bar */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
  opacity: 1;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__top_fixed {
  position: fixed;
  width: 100%;
  left: 0;
  box-sizing: border-box;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 28px;
  width: auto;
  z-index: 999;
}

/* Hero content */
.header__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 20px 80px;
}

.header__title {
  font-family: "Roboto Slab", serif;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.header__subtitle {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 40px;
  color: #fff;
  font-family: "Roboto Slab", serif;
}

/* Form container */
.header__form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 50px;
}

/* Input inside form */
.header__input {
  flex: 1;
  padding: 14px 18px;
  border: none;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  color: #333;
  border-radius: 50px;
  box-sizing: border-box;
}

.header__input:focus {
  outline: none;
}

/* Button inside form */
.header__button {
  background-color: #2f71e5;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 14px 28px;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__button:hover {
  background-color: #1a53cc;
}

.header__nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}

.header__user {
  display: flex;
  font-family: "Roboto Slab", serif;
  align-items: center;
  gap: 8px;
}

.header__username-input {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 4px 8px;
  width: 120px;
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-weight: 500;
  background-color: transparent;
}

.header__logout-btn {
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 4px 8px;
  width: 120px;
  color: #fff;
  font-weight: 500;
  background-color: transparent;
}

.header__logout-btn img {
  width: 20px;
  height: 20px;
  color: #fff;
}
.header__menu-btn {
  display: none;
}

@media screen and (max-width: 550px) {
  .header {
    padding: 40px 20px 80px;
  }
  .header__menu-btn {
    display: block;
    z-index: 999;
  }
  .header__top {
    padding: 12px;
    flex-direction: row;
    align-items: center;
    border: none;
    gap: 16px;
  }

  .header__top_fixed {
    padding: 12px 26px;
  }

  .header__content {
    margin-top: 40px;
  }

  .header__title {
    font-size: 36px;
    line-height: 44px;
  }

  .header__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .header__form {
    flex-direction: column;
    gap: 12px;
    width: 100%;
    border-radius: 0px;
    background-color: transparent;
  }

  .header__input {
    width: 100%;
    font-size: 15px;
    padding: 14px 18px;
  }

  .header__button {
    width: 100%;
    padding: 14px 20px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 32px 16px 60px;
  }

  .header__logo {
    width: 117px;
    height: 24px;
  }

  .header__title {
    font-size: 28px;
    line-height: 36px;
  }

  .header__subtitle {
    font-size: 15px;
  }

  .header__form {
    gap: 10px;

    background-color: transparent;
  }

  .header__input {
    font-size: 14px;
    padding: 12px 16px;
  }

  .header__button {
    font-size: 14px;
    padding: 12px 16px;
  }

  .header__top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
